name: Automatic Rollback
on:
  workflow_dispatch:

jobs:
  rollback:
    runs-on: ubuntu-latest
    env:
      RENDER_API_KEY: ${{ secrets.RENDER_API_KEY }}
      RENDER_SERVICE_ID: srv-d4afj66r433s73ejdkg0

    steps:
      - name: Listar deploys en Render
        run: |
          echo "Obteniendo lista de deploys..."
          DEPLOYS=$(curl -s -H "Authorization: Bearer $RENDER_API_KEY" \
            "https://api.render.com/v1/services/$RENDER_SERVICE_ID/deploys")

          echo "$DEPLOYS"

          LAST_SUCCESSFUL=$(echo "$DEPLOYS" | jq -r '.[] | select(.status=="live") | .id' | head -n 1)

          if [ -z "$LAST_SUCCESSFUL" ]; then
            echo "No se encontró un deploy exitoso. No se ejecutará rollback."
            exit 0
          fi

          echo "Último deploy exitoso: $LAST_SUCCESSFUL"

          curl -X POST \
            -H "Authorization: Bearer $RENDER_API_KEY" \
            "https://api.render.com/v1/services/$RENDER_SERVICE_ID/deploys/$LAST_SUCCESSFUL/rollback"

          echo "Rollback ejecutado con éxito."
#coment